spatial_model/
MSC_THESIS/spatial_model/
MSC_THESIS/outputs/
outputs/
MSC_THESIS/all_models/
all_models/
MSC_THESIS/.cache/
.cache/
generalist_data/
generalist_tokenizer/
generalist_config/
MSC_THESIS/generalist_data/
MSC_THESIS/generalist_tokenizer/